body {
    background-color: #339933;
}
p {
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight:bold;
    margin-top:0px;
    margin-bottom:0px;
}
div {
    margin-left:auto;
    margin-right:auto;
}
td {
    width: 9.1%;
    text-align:center;
}
input{
    width:45px;
    font-weight:bold;
}
#headline {
    font-family:Impact, Charcoal, sans-serif;
    font-size:60px;
    font-weight:normal;
}
#reset {
    background-color:#e8e8e8;
    font-weight:bold;
    width:80px;
}
#totbox {
    border-style:solid;
    border-width:1px;
    background-color:#ffffff;
}
.results > td {
    border-style: solid;
    border-width: 1px;
    background-color:#ffffff;
}
.results > td:first-child { /* removes 'results' formatting above from first column */
    background-color:transparent;
    border-style: none;
}
.inactive {
    background-color:#e8e8e8;
}
.active {
    background-color:#11ff11;
}
.positive {
    color:#008800;
}
.negative {
    color:#ff0000;
}
